*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Cormorant SC, serif;
}
img{
width: 50px;
height: 50px;
}

body{
background-color: rgb(80,20,20);
}
.buton{
background: none;
color: inherit;
border: none;
font: inherit;
outline: inherit;
}

#historial{
position: absolute;
height: 100px;
width: 100px;
background-color: rgb(100,100,120);
margin-left: 30px;
overflow: hidden;
border-radius: 50%;
}
#historial div{
position: absolute;
display: none;
width: 300px;
height: 500px;
background-color: rgb(200,200,0);
z-index: 300;
}
#historial img{
height: 100%;
width: 100%;
object-fit: fill;
}
#historial:hover img{
display: none;
}
#historial:hover{
width: 300px;
height: 500px;
border-radius: 0;
}
#historial:hover div{
display: block;
overflow: scroll;
}

#actual {
width: 70%;
margin-top: 2%;
margin-left: 15%;
text-align: center;
background-color: rgb(100,20,20);
border: solid 5px rgb(140,40,40);
color: white;
border-radius: 10%;
}
#actual h2{
font-size: 2.5em;
text-shadow: 3px 3px 10px black;
}
#actual p{
margin-left: 15%;
width: 70%;
font-size: 1.4em;
text-shadow: 3px 3px 10px black;
}
#pmme{
display: flex;
justify-content: space-around;
font-size: 1.5em;
width: 70%;
margin-left: 15%;
border-radius: 40%;
text-shadow: 1px 1px 20px black;
}
#pmme h3{
background-color: rgb(100,50,50);
border-radius: 50%;
border: solid 2px;

}
#pmme h3:nth-child(1){
background-color: rgb(100,100,100);
}
#pmme h3:nth-child(2){
background-color: rgb(120,80,100);
}
#pmme h3:nth-child(3){
background-color: rgb(200,200,200);
}
#pmme h3:nth-child(4){
background-color: rgb(100,100,200);
}
#tropas{
display: flex;
flex-direction: column;
}

#edificios, #N1, #N2, #N3, #subiredificios, #tropasciudad{
margin-top: 2%;
margin-left: 5%;
height: 100%;
width: 90%;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}

.card {
margin-top: 10px;
margin-left: 10px;
border: solid 4px rgb(100,100,120);
height: 220px;
width: 150px;
background-color: rgb(200,200,240);
border-radius: 2%;
}

.card:hover {
transform: translateY(-15px);

height: 260px;
width: 170px;
box-shadow: 0 10px 20px;
}


.carta{
transform-style: preserve-3d;
transition: all .3s ease;
border: solid 4px rgb(100,100,120);
height: 220px;
width: 150px;
background-color: black;
}
.carta:hover{
transform: rotateY(180deg);
border: none;
z-index: 100;
}
.front{
position: absolute;
height: 100%;
width: 100%;
backface-visibility: hidden;
background-color: rgb(200,200,240);
}

.back{
position: absolute;
top: -10px;
height: 260px;
width: 170px;
backface-visibility: hidden;
background-color: rgb(160,160,200);
border: solid 4px rgb(80,80,100);
transform: rotateY(180deg);
}

.buton{
height: 50%;
width: 100%;
font-size: 1.4em;
}
.buton:hover{
text-shadow: 3px 3px 5px rgb(20,20,20);
cursor: pointer;
}

.image{
margin-left: 10%;
height: 40%;
width: 80%;
}
